extend layout
append head
	link(rel='stylesheet', href='/stylesheets/leaderboard.css')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
block main
	.main-content
		div(id="content")
	script(type='text/babel' src="/scripts/leaderboardReact.js")

