// Import custom font from google
@import url('http://fonts.googleapis.com/css?family=Quicksand');

//nib provides a css reset
global-reset()

main-color = #fa5b4d
background-color = #faf9f0

body
	font-family 'Georgia'
	background-color background-color
	height 100%
	color #444
	display flex
	min-height 100vh
	flex-direction column

header
	font-family 'Quicksand'
	color #fff
	text-align center
	font-size 25px
	height 175px
	background-color main-color
	border-bottom 1px solid darken(main-color, 30%)
	text-shadow 0px -1px 0px darken(main-color, 30%)
	position fixed 0 0
	display flex
	flex-direction column
	justify-content center

	.title
		margin 0
		order 1

	.nav
		order 2

		ul
			margin 0
			padding 0
			list-style none
			background-color main-color
			display flex
			justify-content center

		a
			text-decoration none
			color #fff
			padding 1em
			display block
			transition .3s darken(main-color, 30%)
		a:hover
			background-color darken(main-color, 50%)

.container
	width 65%
	height 100%
	margin 50px auto
	flex 1

	.main-content
		display flex
		justify-content space-between
		height 100%

		.leftSide
			background-color black
			height 100%
			width 70%

		.rightSide
			background-color white
			height 100%
			width 20%

footer
	display flex
	width 55%
	margin 50px auto
	border-top 1px dotted #ccc
	padding-top 5px
	font-size 1rem
	justify-content space-between
	align-items center
	flex-direction row

	.social
		font-size 1.5rem
		i
			margin 5px